<div class="jumbotron jumbotron-fluid" style="background-image: url(https://selectitaly.com/img/images/scale/foods/20160930104242.jpg)">
  <div class="container">
    <h1 class="display-4">Wine and Cheese</h1>
    <p class="lead">Wine and Cheese pairing made simple</p>
  </div>
</div>
