<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">WC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/wines">Wines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cheeses">Cheeses</a>
      </li>
      <% if(locals.isLoggedIn) { %>
      <li class="nav-item">
        <a class="nav-link" href="/pairs">Pairs</a>
      </li>
      <% } %>
      </ul>
      <ul class="navbar-nav mr-2">
      <% if(locals.isLoggedIn) { %>
      <li class="nav-item">
        <a href="/wines/new" class="btn btn-danger btn">Add a wine</a>
      </li>
      <li class="nav-item">
      <a href="/cheeses/new" class="btn btn-warning btn">Add a cheese</a>
      </li>
      <li class="nav-item">
      <a href="/pairs/new" class="btn btn-info">Make a pair</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <% } %>
      <% if(!locals.isLoggedIn) { %>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <% } %>
      </ul>
    </ul>
  </div>
</nav>
