<div class="mx-auto" style="width: 400px">

<form method="POST" action="/register">
  <div>
    <label for="firstName"></label>
    <input type="text" name="firstName" id="firstName" placeholder="First Name" required minlength="2">
  </div>
  <div>
    <label for="lastName"></label>
    <input type="text" name="lastName" id="lastName" placeholder="Last Name" required minlength="2">
  </div>
  <div>
    <label for="username"></label>
    <input type="text" name="username" id="username" placeholder="Username" required>
  </div>
  <div>
    <label for="email"></label>
    <input type="email" name="email" id="email" placeholder="Email" required>
  </div>
  <div>
    <label for="password"></label>
    <input type="password" name="password" id="password" placeholder="Password" required>
  </div>
  <div>
    <label for="passwordConfirmation"></label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation" required>
  </div>

  <button class="button btn btn-warning">Register</button>
</form>

</div>
