<h2>Cheeses New</h2>

<form class="form-group" method="POST" action="/wines">
  <div>
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name">
  </div>
  <div>
    <label for="milk">Milk</label>
    <input class="form-control" type="number" name="milk" id="milk">
  </div>
  <div>
    <label for="country">Country</label>
    <input class="form-control" type="text" name="country" id="country">
  </div>
  <div>
    <label for="region">Region</label>
    <input class="form-control" type="text" name="region" id="region">
  </div>
  <div>
    <label for="producer">Producer</label>
    <input class="form-control" type="text" name="producer" id="producer">
  </div>
  <div>
    <label for="line1">Line 1</label>
    <input class="form-control" type="text" name="line1" id="line1">
  </div>
  <div>
    <label for="line2">Line 2</label>
    <input class="form-control" type="text" name="line2" id="line2">
  </div>
  <div>
    <label for="city">City</label>
    <input class="form-control" type="text" name="city" id="city">
  </div>
  <div>
    <label for="postcode">Postcode</label>
    <input class="form-control" type="text" name="postcode" id="postcode">
  </div>
  <div>
    <label for="city">City</label>
    <input class="form-control" type="text" name="city" id="city">
  </div>
  <div>
    <label for="country">Country</label>
    <input class="form-control" type="text" name="country" id="country">
  </div>
  <div>
    <label for="tastingNotes">Tasting Notes</label>
    <textarea class="form-control" name="tastingNotes"></textarea>
  </div>
  <div>
    <label for="pairings">Pairings</label>
    <input class="form-control" type="text" name="pairings" id="pairings">
  </div>
  <div>
    <label for="rating">Rating</label>
    <input class="form-control" type="Number" name="rating" id="rating">
  </div>
  <button class="btn btn-primary">Create</button>
</form>
