<div class="container">
        <div class="row">
          <div class="col-4">
          </div>
          <div class="col-4">
            <form class="form-group" method="POST" action="/wines">
            <button class="btn btn-danger mx-auto" style="width: 200px;">Add wine</button>
          </div>
          <div class="col-4">
          </div>
        </div>
          <div class="row">
          <div class="col-6">
        <div>
          <label for="name"></label>
          <input class="form-control" type="text" name="name" id="name" placeholder="Name">
        </div>
        <div>
          <label for="image"></label>
          <input class="form-control" type="text" name="image" id="image" placeholder="Image - please provide a link">
        </div>
        <div>
          <label for="rating"></label>
          <select class="form-control" type="Number" name="rating" id="rating">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div>
          <label for="tastingNotes"></label>
          <textarea class="form-control" name="tastingNotes" placeholder="Tasting Notes"></textarea>
        </div>
        <div>
          <label for="pairings"></label>
          <input class="form-control" type="text" name="pairings" id="pairings" placeholder="Pairings">
        </div>
        <div>
          <label for="style"></label>
          <input class="form-control" type="text" name="style" id="style" placeholder="Style">
        </div>
        <div>
          <label for="vintage"></label>
          <input class="form-control" type="number" name="vintage" id="vintage" placeholder="Vintage">
        </div>
        <div>
          <label for="grape"></label>
          <input class="form-control" type="text" name="grape" id="grape" placeholder="Grape">
        </div>
        <div>
          <label for="country"></label>
          <input class="form-control" type="text" name="country" id="country" placeholder="Country">
        </div>
        <div>
          <label for="region"></label>
          <input class="form-control" type="text" name="region" id="region" placeholder="Region">
        </div>
      </div>
      <div class="col-6">
        <div>
          <label for="producer"></label>
          <input class="form-control" type="text" name="producer.name" id="producer" placeholder="Producer">
        </div>
        <div>
          <label for="line1"></label>
          <input class="form-control" type="text" name="producer.address.line1" id="line1" placeholder="Line 1">
        </div>
        <div>
          <label for="line2"></label>
          <input class="form-control" type="text" name="producer.address.line2" id="line2" placeholder="Line 2">
        </div>
        <div>
          <label for="city"></label>
          <input class="form-control" type="text" name="producer.address.city" id="city" placeholder="City">
        </div>
        <div>
          <label for="postcode"></label>
          <input class="form-control" type="text" name="producer.address.postcode" id="postcode" placeholder="Postcode">
        </div>
        <div>
          <label for="country"></label>
          <input class="form-control" type="text" name="producer.address.country" id="country" placeholder="Country">
        </div>
      </div>
      </div>
      </form>
  </div>
</div>
